name: reviewdog
on: [pull_request]
jobs:
  misspell:
    name: runner / misspell
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - name: misspell
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          locale: "US"
          pattern: "*.md"
